@charset "UTF-8";

h1 {
	text-align: center;
}

h2 {
	text-align: center;
}


.App {
	max-width: 500px;

	margin-top: 50px;
	margin: 0 auto;
	padding: 20px;
	
	background-color: e9ecef;
	
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.add-form {
	display: flex;
	margin-bottom: 20px;
}

.add-form input {
	 flex: 1;
	 padding: 10px;
	 font-size: 16px;
	 
	 border: 1px solid #ddd;
	 border-radius: 4px 0 0 4px;
	 outline: none;
}

.add-form button {
	padding: 10px 15px;
	
	color: white;
	font-size: 16px;
	background-color: #4caf50;
	
	border: none;
	border-radius: 0 4px 4px 0;
	cursor: pointer;
}


.todo-list {
	list-style-type: none;
	padding: 0;
}

.todo-item {	
	display: flex;
	align-items: center;
	
	padding: 10px 15px;
	margin-bottom: 8px;
	
	background-color: #ced4da;
	border-radius: 4px;
	cursor: pointer;
	transition: all 0.3s;
}
	

.todo-item.completed{
	text-decoration: line-through;
	color: gray;
}

